@import "tailwindcss";

@theme {
  --color-primary: #F7FAFF;
  --color-secondary: #111827;
  --color-accent: #27302b;
  --color-gold: #e29816;
}

    /* Customize the scrollbar track */
    ::-webkit-scrollbar-track {
      background-color: transparent; /* Example: light gray */
    }

    /* Customize the scrollbar thumb */
    ::-webkit-scrollbar-thumb {
      background-color: #888; /* Example: darker gray */
      border-radius: 4px; /* Optional: adds rounded corners to the thumb */
    }

    /* Optional: Customize the entire scrollbar width/height */
    ::-webkit-scrollbar {
      width: 8px; /* Example: set scrollbar width */
    }